.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

/* OBNOVA */
.card-body {
  padding: 7px;
}
.card-footer {
  padding: 7px;
}
#info {
  display: none;
}
